<div class="container mt-5">
       <h2 style="text-align: center;">Search Restaurant By Name :-</h2>

        <form  method="post" action="/api/restaurant/search/name">
            <div class="form-group">
                
                <input type="text" class="form-control" id="name" name="name" >
            </div>
            <button type="submit" class="btn btn-primary" >Submit</button>
        </form>
    </div>